<h1><%= @cocktail.name %></h1>
<div>
	<p><%= @cocktail.content %></p>
</div>
<div>
	<p>ingredient</p>
	<h5><%= simple_format(@cocktail.ingredient) %></h5>
</div>
<div>
	<p>recipe</p>
	<h5><%= simple_format(@cocktail.recipe) %></h5>
</div>


<%= link_to "Edit", edit_cocktail_path(@cocktail.id), class: 'btn btn-success btn-sm' %>
<%= link_to "Delete", @cocktail, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
